* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: white;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
     z-index: 1000;
}
.popUp i {
    color: green;
    font-size: 50px;
    margin-bottom: 15px;
}
.popUp h2 {
    margin-bottom: 10px;
}
.popUp p {
    margin-bottom: 20px;
}
.popUp button {
    padding: 10px 20px;
    background: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#registerForm {
    background: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#registerForm h2 {
   
    color: navy;
    padding: 15px;
    text-align: center;
}
#registerForm form {
    padding: 20px;
    
}
#registerForm form label {
    display: block;
    font-weight: bold;
}
#registerForm form input[type="text"],
#registerForm form input[type="email"],
#registerForm form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#registerForm form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.form-group i{
    margin-left: -30px;
    cursor: pointer;
    position: relative;
    top: 2px;

}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}